<div class="col-12">
  <div class="flex justify-content-center col-12">
    <h1>GESTION DE TAREAS</h1>
  </div>
  <p-divider></p-divider>
  <div class="col-6 flex ">
    <p-button icon="pi pi-plus" (click)="showModal()" ></p-button>
  </div>
  <div class="flex col-12 gap-5">

    <p-card class="col-6" header="Tareas Pendientes">

      <p-card [header]="task.title | titlecase " class="col-6 car-pending px-1" pTooltip="Arrastra la tarea para completarla" *ngFor="let task of taskListPending" pDraggable (onDragStart)="dragStart(task)" (onDragEnd)="dragEnd()">
        <p class="m-0">
          {{task.description }}
        </p>
        <p class="m-0 p-0 text-xs font-italic col-12 pt-1">
          {{task.createdAt}}
        </p>
        <div class="col-12 flex justify-content-end">
          <p-button icon="pi pi-trash" styleClass="p-button-danger p-button-text" (click)="confirm1(task.id)" ></p-button>
          <p-button icon="pi pi-file-edit" styleClass="p-button-warning p-button-text" (click)="getDetail(task)" ></p-button>
        </div>
      </p-card>

    </p-card>

    <p-card class="col-6" header="Tareas Completadas" pDroppable (onDrop)="drop()">

      <p-card [header]="task.title | titlecase " class="col-6 car-completed px-1" *ngFor="let task of taskListCompleted">
        <p class="m-0">
          {{task.description}}
        </p>
        <p class="m-0 p-0 text-xs font-italic col-12 pt-1">
          {{task.createdAt}}
        </p>
        <div class="col-12 flex justify-content-end">
          <p-button icon="pi pi-trash" styleClass="p-button-danger p-button-text" (click)="confirm1(task.id)" ></p-button>
        </div>
        
        
      </p-card>

    </p-card>
  </div>
</div>
<p-dialog [header]="mode == 'CREAR' ? 'Nueva Tarea' : 'Editar Tarea'" [(visible)]="modalCreated" [style]="{width: '50vw'}">

  <form [formGroup]="registerForm">
    <div class="flex flex-column gap-2 col-12 ">
      <label htmlFor="title" class="font-bold">Titulo</label>
      <input maxlength="22" formControlName="title" pInputText id="title" />
    </div>
    <div class="flex flex-column gap-2 col-12">
      <label htmlFor="description" class="font-bold">Descripcion</label>
      <textarea maxlength="55" formControlName="description" rows="5" cols="30" pInputTextarea></textarea>
    </div>
    <div class="col-6 flex ">
      <p-button icon="pi pi-check" [label]="mode == 'CREAR' ? 'Guardar' : 'Editar'" (click)="confirmForm()" [disabled]="registerForm.invalid"></p-button>
    </div>
    

  </form>
</p-dialog>
<p-toast></p-toast>
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>